
  html {
    background-color:#000;
    
  }
  body {
    text-align: center;
    border: red 5px dashed;
    color:rgb(100, 48, 168);
    min-height: 300px;
    min-width: 400px;
    background-color: papayawhip; 
    margin: 0 auto;
  }
  #Image {
    width: 150px;
    margin: 5px;
  }
  button {
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
  }
  button:hover,
  button:focus {
  opacity: .75;
  }
  ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 1rem 0;
  }
  
  li {
    padding: 0.25rem;
  }
  li:nth-child(odd) {
    background: #80808030;
  }
  li:nth-child(even) {
    background: #ffffff;
  }
  
  h3,
  p {
    margin: 0;
  }


